@font-face{
    font-family: "IRANSans";
    src: url("./Fonts/@font-face/766132c828a90cbecf6f7f4027d12725.ttf") format("ttf");
    src: url("./Fonts/@font-face/766132c828a90cbecf6f7f4027d12725.woff") format("woff");
    src: url("./Fonts/@font-face/766132c828a90cbecf6f7f4027d12725.woff2") format("woff2");
    src: url("./Fonts/@font-face/766132c828a90cbecf6f7f4027d12725.eot") format("eot");
    src: url("./Fonts/@font-face/766132c828a90cbecf6f7f4027d12725.svg") format("svg");
    src: url("./Fonts/@font-face/0b0a8c345731751b990403a2cf40fbec.eot") format("eot");
    src: url("./Fonts/@font-face/0b0a8c345731751b990403a2cf40fbec.svg") format("svg"); 
    src: url("./Fonts/@font-face/0b0a8c345731751b990403a2cf40fbec.ttf") format("ttf");
    src: url("./Fonts/@font-face/0b0a8c345731751b990403a2cf40fbec.woff") format("woff");
    src: url("./Fonts/@font-face/0b0a8c345731751b990403a2cf40fbec.woff2") format("woff2");
}